blockfrost:
  mainnet: "{{ vault('mynth-helper/blockfrost').mainnet }}"
  preprod: "{{ vault('mynth-helper/blockfrost').preprod }}"
  preview: "{{ vault('mynth-helper/blockfrost').preview }}"
maestro:
  preprod: "{{ vault('mynth-helper/maestro').preprod }}"
wallets:
  integration: "{{ vault('mynth-helper/wallets').integration }}"
secret: "{{ vault('mynth-helper/test').my_secret }}"
